<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="cdktkh_ConnStr" connectionString="Asynchronous Processing=true;Data Source=116.99.56.96;Database=CDKTKH;Uid=ktkh;Pwd=@Daotao#Cep143#;MultipleActiveResultSets=True;pooling=true;Max Pool Size=1000000;Connect Timeout=300000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>